<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Assessment</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/default.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="scripts/default.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body ng-app="assessment" ng-controller="defaultCtrl">

    <div class='container'>

        <h1>Assessment Demo App</h1>

        <hr />
        <div class='row'>
            <div class='col-md-6 col-xs-12'>
                <div class="form-group">
                    <label for="msg">New Message:</label>
                    <input type="text" class="form-control" id='"'msg'' ng-model='msg'> </input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 col-xs-12'>
                <button class="btn btn-primary" ng-click='sendmessage()'>Send</button> <button class="btn btn-default pull-right" ng-click='refresh()'>Refresh</button>
            </div>
        </div>

        <hr />
        <div ng-repeat='msg in allmessages track by $index'>
            <label class="label label-success">{{msg}}</label>
        </div>
    </div>
</body>
</html>